{% extends 'patientsDashboard/base.html' %}

{% block title %}Pacientes Dashboard{% endblock %}

{% block content %}
<!-- Add shared CSS -->
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/study_card.css' %}">

<h1>Mis Estudios</h1>

<div class="studies-grid">
    {% for study in studies %}
        {% url 'patientsDashboard:studyDetail' study.id_study as study_detail_url %}
        {% if study.id_report and study.id_report.status == 'PRO' %}
            {% include "core/components/study_card.html" with study_url=study_detail_url pacs_url=study.pacs_url date=study.date title="Estudio en progreso" study_id=study.id_study status="in_progress" blocked=True %}
        {% elif study.id_report and study.id_report.status == 'COM' %}
            {% include "core/components/study_card.html" with study_url=study_detail_url pacs_url=study.pacs_url date=study.date title=study.id_report.about|default:"Reporte Completado" study_id=study.id_study status="completed" %}
        {% else %}
            {% include "core/components/study_card.html" with study_url=study_detail_url pacs_url=study.pacs_url date=study.date title="Pendiente de reporte" study_id=study.id_study status="pending" blocked=True %}
        {% endif %}
    {% empty %}
        <p style="text-align: center; width: 100%; color: #999;">No tienes estudios registrados.</p>
    {% endfor %}
</div>

<style>
    .studies-grid {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        /* Matches our larger card size target */
        gap: 32px;
    }

    h1 {
        margin-top: 1rem;
        margin-bottom: 0;
    }
</style>
{% endblock %}